
  <div class="d-flex">

    <div class="landing-page d-flex flex-column align-items-center">
      <h1>WaveBnb</h1>
      <h4>Are you ready to <strong>SWELL</strong>?</h4>
      <p>Don't worry about taking your surfboard for any vacation!</p>
      <p>Find the perfect board anywhere in the world!</p>
      <%= link_to "Find your board", boards_path, class:"btn btn-orange" %>
    </div>

    <div class="wave-img"></div>

  </div>
