
  <div class="d-flex">

    <div class="landing-page d-flex flex-column align-items-center">
      <h1>WAVE BNB</h1>
      <br>
      <h2>Are you ready to <strong>SWELL</strong>?</h2>
      <h5>Surf everywhere, anywhere.</h5>
      <%= link_to "Find your board", boards_path, class:"btn btn-orange", style:"width: 300px" %>
    </div>

    <div class="wave-img"></div>

  </div>
