
  <div class="d-flex">

    <div class="landing-page d-flex flex-column align-items-center">
      <%= image_tag "wb-logo.png", alt: "WaveBnB", width: 200 %>
      <br>
      <h2>Are you ready to <strong>SWELL</strong>?</h2>
      <h5>Surf everywhere, anywhere.</h5>
      <%= link_to "Find your board", boards_path, class:"btn btn-orange", style:"width: 268px" %>
    </div>

    <div class="wave-img"></div>

  </div>
