
  <div class="d-flex">

    <div class="landing-page d-flex flex-column align-items-center">
      <%= image_tag "wb-logo.png", alt: "WaveBnB", width: 200 %>
      <br>
      <h2>Ready for the next <strong>SWELL</strong>?</h2>
      <h5>Surf anytime, anywhere.</h5>
      <%= link_to "FIND YOUR BOARD", boards_path, class:"btn btn-orange", style:"width: 310px" %>
    </div>

    <div class="wave-img"></div>

  </div>
