<div class="banner container rounded-3" style="background-image: linear-gradient(rgba(0,0,0,0.2),rgba(0,0,0,0.2)), url('')">
  <div class="text-center text-white">
    <h3><strong>FIND YOUR SURFBOARD</strong></h3>
  </div>
</div>

<div class="container py-5">
  <div class="row">
    <% @boards.each do |board| %>
      <div class="co-12 col-sm-6 col-md-4 mb-3">
        <%= link_to board_path(board), class:"text-decoration-none" do %>
          <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('<%= cl_image_path board.photo.key, height: 300, crop: :fill %>')"
>            <%= board.title %>
          </div>
        <% end %>
      </div>
    <% end %>
  </div>

  <%# <div class="d-flex align-items-center justify-content-around mb-3">
    <%= link_to "Rent your own surfboard", new_board_path, class: "btn-all text-center text-decoration-none" %>
  <%# </div> %>
</div>
