.btn-all{
  padding: 10px 20px;
  background-color: #f0dcb4;
  box-shadow: 1px 1px 10px gray;
  border-radius: 12px;
  color: black;
  margin-top: 70px;
  text-decoration: none;


  &:hover {
    background-color: #F7A701;
    opacity: 0.9;
    color: #f0dcb4;
  }
}

.btn-light {
  color: #f0dcb4;

  &:hover {
    color: #F7A701;
  }
}
