.card-category {
  background-size: cover;
  background-position: center;
  height: 320px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 24px;
  font-weight: bold;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  border-radius: 10px;
}

.bg-image {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.card-surfboard {
  overflow: hidden;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
}

.card-surfboard > img {
  height: 300px;
  width: 100%;
  object-fit: cover;
  background-position: center;
}

.card-surfboard h2 {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
}

.card-surfboard p {
  font-size: 12px;
  opacity: .7;
  margin: 0;
}


.card-surfboard .card-surfboard-infos {
  padding: 16px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  padding-bottom: 70px;
}

.card-surfboard-infos .card-surfboard-user {
  right: 16px;
  top: -20px;
  width: 40px;
}

.card-surfboard .grid {
  display: grid;
  grid-gap: 6px;
  background-position: center;
  background-size: cover;
}

